<div class="container mt-5">
    <h2>Job Applications</h2>
    <div class="list-group">
      <div *ngFor="let job of jobs" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ job.name }}</h5>
          <small>{{ job.position }}</small>
        </div>
        <p class="mb-1">{{ job.email }}</p>
        <small><a [routerLink]="['/jobs', job.id]" class="btn btn-primary">View Details</a></small>
      </div>
    </div>
  </div>
  